/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2.5em;
	}

	.row {
		margin: 0 0 -1px -2.5em;
	}

	.row.uniform > * {
		padding: 2.5em 0 0 2.5em;
	}

	.row.uniform {
		margin: -2.5em 0 -1px -2.5em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 5em 0 0 5em;
	}

	.row.uniform.\32 00\25 {
		margin: -5em 0 -1px -5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3.75em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3.75em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3.75em 0 0 3.75em;
	}

	.row.uniform.\31 50\25 {
		margin: -3.75em 0 -1px -3.75em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1.25em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1.25em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1.25em 0 0 1.25em;
	}

	.row.uniform.\35 0\25 {
		margin: -1.25em 0 -1px -1.25em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.625em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.625em 0 0 0.625em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.625em 0 -1px -0.625em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 2.5em;
		}

		.row {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5em 0 0 5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5em 0 -1px -5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3.75em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3.75em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3.75em 0 0 3.75em;
		}

		.row.uniform.\31 50\25 {
			margin: -3.75em 0 -1px -3.75em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.25em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 2.5em;
		}

		.row {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5em 0 0 5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5em 0 -1px -5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3.75em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3.75em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3.75em 0 0 3.75em;
		}

		.row.uniform.\31 50\25 {
			margin: -3.75em 0 -1px -3.75em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.25em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 2.5em;
		}

		.row {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5em 0 0 5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5em 0 -1px -5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3.75em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3.75em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3.75em 0 0 3.75em;
		}

		.row.uniform.\31 50\25 {
			margin: -3.75em 0 -1px -3.75em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.25em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 2.5em;
		}

		.row {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5em 0 0 5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5em 0 -1px -5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3.75em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3.75em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3.75em 0 0 3.75em;
		}

		.row.uniform.\31 50\25 {
			margin: -3.75em 0 -1px -3.75em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.25em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 2.5em;
		}

		.row {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5em 0 0 5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5em 0 -1px -5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3.75em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3.75em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3.75em 0 0 3.75em;
		}

		.row.uniform.\31 50\25 {
			margin: -3.75em 0 -1px -3.75em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.25em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11.5pt;
			}
	}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}
	}

/* Small */

	@media screen and (max-width: 736px) {


			body, input, select, textarea {
				font-size: 12pt;
			}

			h2 {
				font-size: 1.5em;
			}

			h3 {
				font-size: 1.2em;
			}

			h4 {
				font-size: 1em;
			}

	}

/* XSmall */

	@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

	}

@media screen and (min-width: 1500px) {
	.special{

		padding-top: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 10rem;
		margin-left: 10rem; 
	}
}

@media screen and (min-width: 1300px) and (max-width: 1499px) {
	.special{

		padding-top: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 8rem;
		margin-left: 8rem; 
	}
}
@media screen and (min-width: 1100px)  and (max-width: 1300px){
	.special{

		padding-top: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 3rem;
		margin-left: 3rem; 
	}
}
@media screen and (min-width: 800px) and (max-width: 1100px)  {
	.special{

		padding-top: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 1rem;
		margin-left: 1rem; 
	}
}
@media screen and (max-width: 800px)
{
	.special{
		padding-top: 4rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}


	.special{
		border-radius: 10px;
		background: #fff;
	}