<footer style="text-align: center; padding-top: 2em;">
  <% if (page.total > 1){ %>
    <div class="pagination" >
        <%- paginator({
            prev_text: "pre",
            next_text: "nex"
        }) %>
    </div>  
    <% } %>
</footer>