
    <title>
    <%-config.title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="<%- config.root %>css/mic_main.css" />
    <link rel="stylesheet" href="<%- config.root %>css/dropdownMenu.css" />
    <% if (theme.busuanzi.enable === true ) {%>
    	<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<% } %>
    <noscript>
        <link rel="stylesheet" href="<%- config.root %>css/noscript.css" />
    </noscript>
