        <div id="intro">
            <h1>This is<br />
                        <%- theme.Intro.name %> </h1>
            <p> <%- theme.Intro.slogan %>
            </p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>